@model Sistema_Envios.Models.tbFabricas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Detalles: Fabricas</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <div class="row">
                        <div class="col-sm-6">
                    <dt>@Html.DisplayNameFor(model => model.fab_Descripcion)</dt>
                    <dd>@Html.DisplayFor(model => model.fab_Descripcion)</dd>
            </div>
            <div class="col-sm-6">
                <dt>@Html.DisplayNameFor(model => model.fab_Telefono)</dt>
                <dd>@Html.DisplayFor(model => model.fab_Telefono)</dd>
            </div>
        </div>
        </dl>
    </div>
<div class="card-footer">
    <div class="text-center">

        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })

    </div>
</div>
</div>