@model IEnumerable<Sistema_Envios.Models.V_INDEX_FABRICAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .modal-header, h4, .close {
        background-color: orangered;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary">Nuevo</button>
                        <br />
                        <label style="color:red">@Html.ValidationMessage("Validacion")</label>
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.NOMBRE)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOMBRE)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                        <button class="btn-delete btn btn-danger btn-xs" data-id="@item.ID">Eliminar</button>

                                        <button class='btn btn-secondary btn-xs' type='submit' id="tbnModal" onclick="AbrirModal(@item.ID)"><i class='fas fa-pen'></i>Editar</button>

                                        <form method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="padding:35px 50px;">
                                                            <h3> Editar Fabricas</h3>
                                                            <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
                                                        </div>
                                                        <div class="modal-body" style="padding:40px 50px;">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label> Fabrica </label><label id="lblMensaje2" style="color:red">*</label>
                                                                    <input type="text" name="txtFabrica" id="txtFabrica" class="form-control" style="border-color:black" />
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label>Telefono </label> <label style="color:red" id="lblMensaje3">*</label>
                                                                    <input type="number" name="txtTelefono" id="txtTelefono" class="form-control" style="border-color:black" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" id="fabri_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Cancelar</button>
                                                            <input type="button" value="Editar" id="btnEditar" name="btnEditar" onclick="Editar(@item.ID)" class="btn btn-warning" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="~/Scripts/EditarFabri.js"></script>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("EliminarFabrica")
@Html.Partial("CrearFabrica")

