@model Sistema_Envios.Models.tbCargos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Cargos</h4>
        </div>
    </div>
    <div class="card-body">
        <dl>
            <div class="row">
                <div class="col-sm-4">
            <dt>
                @Html.DisplayNameFor(model => model.carg_Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.carg_Description)
            </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.rep_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rep_FechaCreacion)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.rep_FechaMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rep_FechaMod)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.rep_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rep_Estado)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>
    </div>
</div>
        </dl>
<div class="text-center">
    <button class="btn btn-warning">
        @Html.ActionLink("Edit", "Edit", new { id = Model.carg_Id })
    </button>
    <button class="btn btn-warning">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>
    </div>
</div>
