@model Sistema_Envios.Models.tbPedidos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Detalles de Pedido</h4>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.pedi_Code)
                    </dt>
                    less
                    Copy code
                    <dd>
                        @Html.DisplayFor(model => model.pedi_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pedi_CostoEnvio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pedi_CostoEnvio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.emp_Id)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.pedi_Fecha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pedi_Fecha)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>
                        <label>Estado del Envío</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tbEstadoEnvios.estv_Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tbDirecciones.direc_DireccionExacta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tbDirecciones.direc_DireccionExacta)
                    </dd>
                </dl>
            </div>
        </div>
<br />
        </dl>
</div>
<div class="card-footer">
    <div class="text-center">
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
    </div>
</div>
</div>