@model Sistema_Envios.Models.tbPedidos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editando...</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">EDITAR PEDIDO</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.pedi_ID)

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label>Codigo del Pedido</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pedi_Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pedi_Code, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Costo de Envio</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pedi_CostoEnvio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pedi_CostoEnvio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label>Direccion Actual</label>
                    <div class="col-md-10">
                        <input type="text" id="direc" name="direc" class="form-control" value="@Model.pedi_DireccionID" disabled />

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Cliente Actual</label>
                    <div class="col-md-10">
                        <select disabled id="clien" name="clien" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label>Estado del envio</label>
                    <div class="col-md-10">
                        @Html.DropDownList("estv_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.estv_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nueva Direccion</label>
                    <div class="col-md-10">
                        <select id="client_Id" name="client_Id" class="form-control"></select>
                        <select id="pedi_DireccionID" name="pedi_DireccionID" class="form-control"></select>

                        @Html.ValidationMessageFor(model => model.pedi_DireccionID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label>Encargado Actual del Pedido</label>
                    <div class="col-md-10">
                        <input type="text" hidden id="emp" name="emp" value="@Model.emp_Id" disabled />
                        <select id="emp_Des" name="emp_Id" class="form-control" disabled> </select>
                        <br />
                        <label>Nuevo Encargado</label>
                        <select id="emp_Id" name="emp_Id" class="form-control"></select>

                        @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label>Fecha del pedido</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pedi_Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pedi_Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>



}
<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>
<script src="~/Scripts/PedidoEditar.js"></script>
