@model Sistema_Envios.Models.tbDepartamentos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center"><h4 style="color:azure">Departamentos</h4></div>
    </div>
    <div class="card-body">
        <dl>
            <div class="row">
                <div class="col-sm-4">
            <dt>
                @Html.DisplayNameFor(model => model.depto_Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.depto_Descripcion)
            </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.usu_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_FechaCreacion)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.depto_FechaMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_FechaMod)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>
    </div>
    <div class="col-sm-4">

    </div>
</div>
        </dl>
<div class="text-center">
    <button class="btn btn-warning">
        @Html.ActionLink("Edit", "Edit", new { id = Model.depto_ID })
    </button>
    <button class="btn btn-warning">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>
    </div>
</div>
