@model IEnumerable<Sistema_Envios.Models.tbDepartamentos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                       @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary"})
                    </div>
                </div>
                  <br />
                <div class="ibox-content">
                  <table class="table table-responsive" id="DataTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.depto_Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.usu_FechaCreacion)</th>
                            <th>@Html.DisplayNameFor(model => model.depto_FechaMod)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.depto_ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.depto_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usu_FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.depto_FechaMod)
                            </td>
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.depto_ID },  new {@class = "btn btn-default btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.depto_ID }, new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Delete", "Delete", new { id=item.depto_ID }, new { @class = "btn btn-secondary btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
