@model Sistema_Envios.Models.tbPedidoDetalles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Detalles: Pedido Detalles</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <!-- This is the third column -->
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.pedi_ID)</dt>
                    <dd>@Html.DisplayFor(model => model.pedi_ID)</dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <!-- This is the first column -->
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.art_ID)</dt>
                    <dd>@Html.DisplayFor(model => model.art_ID)</dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <!-- This is the second column -->
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.det_Cantidad)</dt>
                    <dd>@Html.DisplayFor(model => model.det_Cantidad)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
