@model IEnumerable<Sistema_Envios.Models.V_INDEX_PEDIDOS_DETALLES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                      <input type="button" value="Nuevo" class="btn btn-primary" />
                    </div>
                </div>
                  <br />
                <div class="ibox-content">
                  <table class="table table-responsive" id="DataTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.CODIGO_PEDIDO)</th>
                            <th>@Html.DisplayNameFor(model => model.ARTICULO)</th>
                            <th>@Html.DisplayNameFor(model => model.CANTIDAD)</th>
                           
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.ID_DETALLE">
                            <td>
                                @Html.DisplayFor(modelItem => item.CODIGO_PEDIDO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ARTICULO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CANTIDAD)
                            </td>
                         
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.ID_DETALLE },  new {@class = "btn btn-default btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.ID_DETALLE }, new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Delete", "Delete", new { id=item.ID_DETALLE }, new { @class = "btn btn-secondary btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
@Html.Partial("CreateDetalles")
    
