@model Sistema_Envios.Models.tbUsuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h5 style="color:azure">Usuario</h5>
        </div>
    </div>

    <dl class="card-body">
        <div class="row">
            <div class="col-sm-6">
        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Usuario)
        </dd>
</div>
<div class="col-sm-6">
    <dt>
        ID del Empleado
    </dt>

    <dd>
        @Html.DisplayFor(model => model.emp_Id)
    </dd>
</div>
        </div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            Clave
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Clave)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            ID del usuario creador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_UsuarioCreador)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            Fecha de creacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_FechaCreacion)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            ID del usuario modificador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_UsuarioMod)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            Fecha de modificacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_FechaMod)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Estado)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            Es Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_EsAdmin)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRoles.rol_Descripcion)
        </dd>
    </div>
</div>

    </dl>
<br />
<div class="text-center">
    <button class="btn btn-warning">
        @Html.ActionLink("Volver a la lista", "Index")
    </button>
</div>
<br />
</div>