@model IEnumerable<Sistema_Envios.Models.V_INDEX_USUARIOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <input type="button" value="Nuevo" class="btn btn-primary" onclick="AbrirNuevo()" />
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.USUARIO)</th>
                                <th>@Html.DisplayNameFor(model => model.NOMBRE)</th>
                                <th>@Html.DisplayNameFor(model => model.ROL)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USUARIO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOMBRE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ROL)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                        <button class="btn-edit btn btn-warning btn-xs" onclick="AbrirEditar(@item.ID)">Editar</button>
                                        <button class="btn-delete btn btn-secondary btn-xs" data-id="@item.ID">Eliminar</button>
                                        <form method="post">
                                            <style>
                                                .modal-header, h4 {
                                                    background-color: #ffffff;
                                                    /*color: white !important;*/
                                                    text-align: center;
                                                    font-size: 22px;
                                                }

                                                .modal-footer {
                                                    background-color: white;
                                                }
                                            </style>
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="EditUsuarios" tabindex="-1" role="dialog" aria-labelledby="Edit-Usuarios" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="edit-usuarios">Editar Usuario</h4>
                                                            <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <label style="color:black">Nombre de usuario</label><label id="labelusuE" name="labelusuE" style="color:red">@Html.ValidationMessage("ValUsuario")</label>
                                                                    <input type="text" name="txtUsuarioE" id="txtUsuarioE" class="form-control" style="border-color:black" />
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <label style="color:black" hidden="hidden">Es Admin</label><label id="labeladminE" name="labeladminE" style="color:red"></label> <br /> <br />
                                                                    <div class="text-center">
                                                                        <input type="checkbox" hidden="hidden" name="ckEsAdminE" id="ckEsAdminE" style="border-color:black" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <label style="color:black">Rol</label><label id="labelcargoE" name="labelcargoE" style="color:red"></label>
                                                                    <select id="rol_IDE" name="rol_IDE" class="form-control" style="border-color:black"></select>
                                                                </div>
                                                            </div> <br />

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="Cancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                            <input type="button" value="Editar" id="btnEditar" name="btnEditar" onclick="Editar(@item.ID)" class="btn btn-warning" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <script src="~/Scripts/EditarUsuario.js"></script>

                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("EliminarUsuario")

@Html.Partial("CrearUsuario")