@model Sistema_Envios.Models.tbArticulos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:white">Detalles: Articulos</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <dt>
                    <label>Articulo</label>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.art_Descripcion)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.tbFabricas.fab_Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.tbFabricas.fab_Descripcion)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    <label>Stock</label>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.art_Stock)
                </dd>
            </div>
        </div>
    </div>
<div class="card-footer" style="background-color:floralwhite">
    <div class="text-center">
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
        
    </div>
