@model IEnumerable<Sistema_Envios.Models.V_INDEX_ARTICULOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .modal-header, h4, .close {
        background-color: orangered;
        /*color: white !important;*/
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <input type="button" value="Nuevo" class="btn btn-primary" />
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID_ARTICULO)</th>
                                <th>@Html.DisplayNameFor(model => model.DESCRIPCION)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID_ARTICULO">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_ARTICULO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_ARTICULO }, new { @class = "btn btn-default btn-xs" })
                                        @*@Html.ActionLink("Editar", "Edit", new { id = item.ID_ARTICULO }, new { @class = "btn btn-primary btn-xs" })*@
                                        <button class="btn-delete btn btn-secondary btn-xs" data-id="@item.ID_ARTICULO">Eliminar</button>

                                        <button class='btn btn-secondary btn-xs' type='submit' id="tbnModal" value="Editar" onclick="AbrirModal(@item.ID_ARTICULO)"><i class='fas fa-pen'></i>Editar</button>

                                        <form method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="padding:35px 50px;">
                                                            <h4><span class="glyphicon glyphicon-lock"></span>Editar Articulos</h4>
                                                            <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
                                                        </div>
                                                        <div class="modal-body" style="padding:40px 50px;">
                                                            <div class="card">
                                                                <div class="card-body">

                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <label> artículo</label><label id="artiMess" style="color:red">El campo es requerido!!</label>
                                                                            <input type="text" name="txtArtiC" id="txtArtiC" class="form-control" />
                                                                        </div>

                                                                        <div class="col-sm-6">
                                                                            <label>stock</label><label id="CantidadMess" style="color:red">El campo es requerido!!</label>
                                                                            <input type="number" name="txtExistencia" id="txtExistencia" class="form-control" />
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <label>Fábrica</label>
                                                                            <select id="fab_ID" name="fab_ID" class="form-control" style="border-color:black">
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <input type="hidden" id="art_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Close</button>
                                                            <input type="button" value="Editar" onclick="Editar(@item.ID_ARTICULO)" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <script src="~/Scripts/ArticulosEditar.js"></script>
                                        </form>
                                        

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CrearArticulo")

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

