@model IEnumerable<Sistema_Envios.Models.V_INDEX_ARTICULOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <input type="button" value="Nuevo" class="btn btn-primary" />
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID_ARTICULO)</th>
                                <th>@Html.DisplayNameFor(model => model.DESCRIPCION)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID_ARTICULO">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_ARTICULO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_ARTICULO }, new { @class = "btn btn-default btn-xs" })
                                        @*@Html.ActionLink("Editar", "Edit", new { id = item.ID_ARTICULO }, new { @class = "btn btn-primary btn-xs" })*@
                                        <button class="btn-delete btn btn-secondary btn-xs" data-id="@item.ID_ARTICULO">Eliminar</button>

                                        <button class='btn btn-secondary btn-sm' type='submit' id="tbnModal" value="Editar" onclick="AbrirModal(@item.ID_ARTICULO)"><i class='fas fa-pen'></i></button>

                                        <form method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="crear-cargos">Articulos</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label> artículo</label>
                                                            <input type="text" name="txtArt1" id="txtArt1" class="form-control" />
                                                            <label>stock</label>
                                                            <input type="number" name="txtStock1" id="txtStock1" class="form-control" />
                                                            <label>Fábrica</label>
                                                            <select id="fab_ID" name="fab_ID" class="form-control">
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" id="art_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Close</button>
                                                            <input type="submit" value="Editar" onclick="Editar(@item.ID_ARTICULO)" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                        





                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CrearArticulo")
<script src="~/Scripts/ArticulosEditar.js"></script>
