@model Sistema_Envios.Models.tbClientes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Clientes</h4>
        </div>
    </div>

    <div class="card-body">
        <dl>
            <div class="row">
                <div class="col-sm-4">
            <dt>
                @Html.DisplayNameFor(model => model.client_Nombre)
            </dt>

            <dd>
             
                @Html.DisplayFor(model => model.client_Nombre)
            </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_Identidad)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_Sexo)
        </dd>
    </div>


<br />
<div class="row">
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_Telefono)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_Saldo)
        </dd>
    </div>
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_LimiteCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_LimiteCredito)
        </dd>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4">
        <dt>
            @Html.DisplayNameFor(model => model.client_Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_Descuento)
        </dd>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.tbEstadosCiviles.est_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadosCiviles.est_Descripcion)
        </dd>
    </div>
</div>
        </dl>
</div>
<div class="card-footer">
    <div class="text-center">
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
    </div>
</div>

<br />
