@model IEnumerable<Sistema_Envios.Models.tbClientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                       @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary"})
                    </div>
                </div>
                  <br />
                <div class="ibox-content">
                  <table class="table table-responsive" id="DataTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.client_Nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Identidad)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Sexo)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Telefono)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Saldo)</th>
                            <th>@Html.DisplayNameFor(model => model.client_LimiteCredito)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Descuento)</th>
                            <th>@Html.DisplayNameFor(model => model.client_FechaCreacion)</th>
                            <th>@Html.DisplayNameFor(model => model.client_FechaMod)</th>
                            <th>@Html.DisplayNameFor(model => model.client_Estado)</th>
                            <th>@Html.DisplayNameFor(model => model.tbEstadosCiviles.est_Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.client_ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Identidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Saldo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_LimiteCredito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Descuento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_FechaMod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.client_Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbEstadosCiviles.est_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuarios.usu_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuarios1.usu_Usuario)
                            </td>
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.client_ID },  new {@class = "btn btn-default btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.client_ID }, new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Delete", "Delete", new { id=item.client_ID })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
