@model IEnumerable<Sistema_Envios.Models.V_INDEX_ESTADOS_CIVILES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary">Nuevo</button>
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.DESCRIPCION)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })

                                        @Html.ActionLink("Edt", "_EditEstado", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                        <button class='btn btn-secondary btn-xs' type='submit' id="tbnModal" name="tbnModal" onclick="ObtenerId(@item.ID)"><i class='fas fa-pen'></i>Editar</button>

                                        <form method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="crear-cargos">Articulos</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label> Estado</label>
                                                            <input type="text" name="txtEstadoCivil" id="txtEstadoCivil" class="form-control" />

                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" id="est_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Close</button>
                                                            <input type="submit" value="Editar" onclick="Editar()" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*@Html.Partial("_EditEstado")*@
<script src="~/Scripts/EstadosCivilesEditar.js"></script>

@Html.Partial("CrearEstadoCivil")