@model Sistema_Envios.Models.tbCiudades

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Detalles: Ciudades</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.ciu_Descripcion)</dt>
                    <dd>@Html.DisplayFor(model => model.ciu_Descripcion)</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.tbDepartamentos.depto_Descripcion)</dt>
                    <dd>@Html.DisplayFor(model => model.tbDepartamentos.depto_Descripcion)</dd>
                </dl>
            </div>
        </div>
    </div>
        <div class="card-footer">
            <div class="text-center">

                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    
</div>
