@model IEnumerable<Sistema_Envios.Models.V_INDEX_CIUDADES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        @*@if (TempData["Mensaje"] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>@TempData["Mensaje"]</strong>
                            </div>
                        }*@
                        <input type="button" class="btn btn-primary" value="Nuevo" />
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.NOMBRE_CIUDAD)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOMBRE_CIUDAD)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })


                                        <button class='btn btn-secondary btn-xs' type='submit' id="tbnModal" value="Editar" onclick="AbrirModal(@item.ID)"><i class='fas fa-pen'></i>Editar</button>

                                        <form method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="padding:30px 50px;">
                                                            <h4 class="modal-title" id="crear-cargos">Editar Ciudades</h4>
                                                            <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
                                                        </div>
                                                        <div class="modal-body" style="padding:40px 50px; background-color:white">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label id="Mensaje" style="color:red">*</label>
                                                                    <label style="color:black; font-size:15px"> Ciudad: </label>
                                                                    <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control" style="border-color:black" />
                                                                </div>
                                                                <div class="col-sm-6">


                                                                    <label style="color:black; font-size:15px"> Departamento: </label>
                                                                    <input type="text" id="DeptoAct" disabled class="form-control" style="border-color:black" />
                                                                    <br />
                                                                    
                                                                </div>
                                                                    <div class="col-sm-12">
                                                                        <label style="color:black; font-size:15px"> Cambiar Departamento: </label>
                                                                        <select id="Departamento" name="Departamento" class="form-control" style="border-color:black">
                                                                        </select>

                                                                    </div>

                                                                </div>
                                                           
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" id="ciu_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Cancelar</button>
                                                            <input type="button" value="Editar" onclick="Editar(@item.ID)" class="btn btn-warning" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                        <script src="~/Scripts/CiudadesScript/EditarCiu.js"></script>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CrearCiudades")