@model Sistema_Envios.Models.tbDirecciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Direcciones</h4>
        </div>
    </div>
    <div class="card-body">
        <dl>
            <div class="row">
                <div class="col-sm-3">
            <dt>
                @Html.DisplayNameFor(model => model.direc_DireccionExacta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direc_DireccionExacta)
            </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.direc_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direc_FechaCreacion)
        </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.direc_FechaMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direc_FechaMod)
        </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.direc_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direc_Estado)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.tbCiudades.ciu_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCiudades.ciu_Descripcion)
        </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.tbClientes.client_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbClientes.client_Nombre)
        </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>
    </div>
    <div class="col-sm-3">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>
    </div>
</div>
        </dl>
<div class="text-center">
    <button class="btn btn-warning">
        @Html.ActionLink("Editar", "Edit", new { id = Model.direc_ID })
    </button>
    <button class="btn btn-warning">
        @Html.ActionLink("Volver a la lista", "Index")
    </button>
</div>
    </div>
</div>
