@model IEnumerable<Sistema_Envios.Models.V_INDEX_DIRECCIONES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <input type="button" value="Nuevo" class="btn btn-primary" />
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-responsive" id="DataTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.CLIENTE)</th>
                                <th>@Html.DisplayNameFor(model => model.REFERENCIA)</th>
                                <th>@Html.DisplayNameFor(model => model.CIUDAD)</th>
                                <th>@Html.DisplayNameFor(model => model.DEPARTAMENTO)</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row" data-id="@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CLIENTE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.REFERENCIA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CIUDAD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                        @*@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-xs" })*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-secondary btn-xs" })

                                        <button class='btn btn-secondary btn-xs' type='submit' id="tbnModal" name="tbnModal" onclick="ObtenerId(@item.ID)"><i class='fas fa-pen'></i>Editar</button>

                                        <form method="POST">
                                            @Html.AntiForgeryToken()
                                            <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="crear-cargos">Estado</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label> cliente</label>
                                                            <select id="Id_Cliente" name="Id_Cliente" class="form-control"></select>
                                                            <label>dirección exacta</label>
                                                            <input type="text" name="txtDireccion" id="txtDireccion" class="form-control" />
                                                            <label>Departamento</label>
                                                            <select id="Id_depto" name="Id_depto" class="form-control"></select>
                                                            <label>Ciudad</label>
                                                            <select id="Id_Ciudad" name="Id_Ciudad" class="form-control"></select>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" id="direc_ID" />
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cerrar()">Close</button>
                                                            <input type="submit" value="Editar" onclick="Editar()" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CrearDirecciones")

<script src="~/Scripts/DireccionesEditar.js"></script>