@model Sistema_Envios.Models.tbEmpleados

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form action="@Url.Action("Create")" method="post" class="needs-validation" novalidate>
        <div class="card">
            <div class="card-header bg-warning">
                <div class="text-center">
                    <h4 style="color:azure">Empleados</h4>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.emp_Name, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.emp_Name, htmlAttributes: new { @class = "control-label col-md-2" }) <label style="color:red">@Html.ValidationMessage("ValidacionN")</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="emp_Name" name="emp_Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.emp_Apellido, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.emp_Apellido, htmlAttributes: new { @class = "control-label col-md-2" }) <label style="color:red">@Html.ValidationMessage("ValidacionA")</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="emp_Apellido" name="emp_Apellido" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                       <label>Identidad</label><label style="color:red">@Html.ValidationMessage("ValidacionD")</label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" id="emp_DNI" name="emp_DNI"  />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.emp_FechaNac, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.emp_FechaNac, htmlAttributes: new { @class = "control-label col-md-2" }) <label style="color:red">@Html.ValidationMessage("ValidacionF")</label>

                            <div class="col-md-10">
                                <input type="date" class="form-control" id="emp_FechaNac" name="emp_FechaNac" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Departamentos</label> <label style="color:red">@Html.ValidationMessage("ValidacionDEP")</label>
                            <div class="col-md-10">
                               <select id="depto_ID" name="depto_ID"  class="form-control">
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ciudad</label> <label style="color:red">@Html.ValidationMessage("ValidacionCIU")</label>
                            <div class="col-md-10">
                                <div class="col-md-10">
                                    <select id="ciu_ID" name="ciu_ID" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                         <label>Estado Civil</label> <label style="color:red">@Html.ValidationMessage("ValidacionEST")</label>
                            <div class="col-md-10">
                               <select id="Id_Estado" name="Id_Estado" class="form-control">

                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @*@Html.ValidationMessageFor(model => model.emp_Sexo, "", new { @class = "text-danger" })
                                @Html.LabelFor(model => model.emp_Sexo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label>Sexo</label>    <label style="color:red">@Html.ValidationMessage("ValidacionSEX")</label>
                            <div class="col-md-10">
                                <br />
                                <input type="radio" id="rbF" name="emp_Sexo" value="F" /><label>Femenino</label>
                                <input type="radio" id="rbM" name="emp_Sexo" value="M" /><label>Masculino</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                 
                            @Html.LabelFor(model => model.carg_Id, htmlAttributes: new { @class = "control-label col-md-2" }) <label style="color:red">@Html.ValidationMessage("ValidacionCARG")</label>
                            <div class="col-md-10">
                                <select id="carg_Id" name="carg_Id" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="text-center">
                        <input type="button" value="Guadar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        </form>
        <script src="~/Scripts/EmpleadosScript/CargarCiudades.js"></script>
        <script src="~/Scripts/CrearEmpleado.js"></script>


        }
