@model Sistema_Envios.Models.tbEmpleados

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header bg-warning" style="color:azure">
            <h4>Empleados</h4>
        </div>
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.emp_Name, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.emp_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emp_Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.emp_Apellido, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.emp_Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emp_Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.emp_DNI, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.emp_DNI, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emp_DNI, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.emp_FechaNac, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.emp_FechaNac, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emp_FechaNac, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ciu_ID, "", new { @class = "text-danger" })
                        <label>Departamentos</label>
                        <div class="col-md-10">
                            @Html.DropDownList("depto_ID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ciu_ID, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select id="ciu_ID" name="ciu_ID" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.est_ID, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.est_ID, "Estado Civil", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("est_ID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.emp_Sexo, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.emp_Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emp_Sexo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.carg_Id, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.carg_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.carg_Id, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Guadar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/EmpleadosScript/CargarCiudades.js"></script>

