@model Sistema_Envios.Models.tbEmpleados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Empleados Detalles</h4>
        </div>
    </div>
    <div class="card-body">
        <dl>
            <div class="row">
                <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.emp_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.emp_Name)
            </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.emp_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Apellido)
        </dd>
    </div>

<div class="row">
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.emp_DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_DNI)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.emp_FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechaNac)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.emp_Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Sexo)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.tbCargos.carg_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCargos.carg_Description)
        </dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.tbCiudades.ciu_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCiudades.ciu_Descripcion)
        </dd>
    </div>
    <div class="col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.tbEstadosCiviles.est_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadosCiviles.est_Descripcion)
        </dd>
    </div>
</div>
        </dl>
    </div>
<div class="text-center">
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class="btn btn-warning"})
</div>
<br />


