@model Sistema_Envios.Models.tbEmpleados

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h4>tbEmpleados</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.emp_Id)
    <div class="card-header bg-warning">
        <div class="text-center">
            <h4 style="color:azure">Editar</h4>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Nombre</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.emp_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.emp_Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Apellidos</label>
                <div class="col-md-10">
                    <input type="text" id="emp_Apellido" name="emp_Apellido" class="form-control" value="@Model.emp_Apellido" />
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Identidad</label>
                <div class="col-md-10">
                    <input type="number" id="emp_DNI" name="emp_DNI" class="form-control" value="@Model.emp_DNI" />
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Fecha Nacimiento</label>
                <div class="col-md-10">
                    <input type="datetime" id="emp_FechaNac" name="emp_FechaNac" class="form-control" value="@Model.emp_FechaNac" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Ciudad Actual</label>
                <div class="col-md-10">

                    @Html.DropDownList("ciu_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ciu_ID, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.est_ID, "est_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("est_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.est_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="col-sm-6">

            <div class="form-group">
                <label>Sexo ("F" Femenino, "M" Masculino)</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.emp_Sexo, new { htmlAttributes = new { @class = "form-control", @maxlength = "1" } })
                    @Html.ValidationMessageFor(model => model.emp_Sexo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label >Cargo</label>
               
                <div class="col-md-10">

                    @Html.DropDownList("carg_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.carg_Id, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Ciudad Actual</label>
                <div class="col-md-10">
                    <input type="text" hidden id="ciu_Id" name="ciu_Id" value="@Model.ciu_ID" disabled/>
                    <select id="Ciudad" name="Ciudad" class="form-control" disabled>

                    </select>
                    @*@Html.DropDownList("ciu_ID", null, htmlAttributes: new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ciu_ID, "", new { @class = "text-danger", hidden })*@

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Cargo</label>
                <div class="col-md-10">

                    @Html.DropDownList("carg_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.carg_Id, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <script src="~/Scripts/EditarEmpleados.js"></script>
    </div>


        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
