@model IEnumerable<Sistema_Envios.Models.tbEmpleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                       @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary"})
                    </div>
                </div>
                  <br />
                <div class="ibox-content">
                  <table class="table table-responsive" id="DataTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.emp_Name)</th>
                            <th>@Html.DisplayNameFor(model => model.emp_Apellido)</th>
                            <th>@Html.DisplayNameFor(model => model.emp_DNI)</th>
                            <th>@Html.DisplayNameFor(model => model.emp_FechaNac)</th>
                            <th>@Html.DisplayNameFor(model => model.emp_Sexo)</th>
                            <th>@Html.DisplayNameFor(model => model.carg_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.tbCiudades.ciu_Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.tbEstadosCiviles.est_Descripcion)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.emp_Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_DNI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_FechaNac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.carg_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbCiudades.ciu_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbEstadosCiviles.est_Descripcion)
                            </td>
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.emp_Id },  new {@class = "btn btn-default btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.emp_Id }, new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Delete", "Delete", new { id=item.emp_Id }, new { @class = "btn btn-secondary btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
