@model IEnumerable<Sistema_Envios.Models.V_INDEX_EMPLEADOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                       @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary"})
                    </div>
                </div>
                  <br />
                <div class="ibox-content">
                  <table class="table table-responsive" id="DataTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.NOMBRE)</th>
                            <th>@Html.DisplayNameFor(model => model.APELLIDO)</th>
                            <th>@Html.DisplayNameFor(model => model.IDENTIDAD)</th>
                            <th>@Html.DisplayNameFor(model => model.SEXO)</th>
                            <th>@Html.DisplayNameFor(model => model.CARGO)</th>
                           
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.APELLIDO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDENTIDAD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SEXO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CARGO)
                            </td>
                            
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.ID },  new {@class = "btn btn-default btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.ID }, new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-secondary btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
